@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {

    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assests/img/backgroungimg.png");
    height: 90vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 126px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.content1 {
    font-family: "Martel Sans", sans-serif;
    color: white;
    height: calc(100% - 62px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    padding: 0 23px;
}

.content1> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.content1> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.content1> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.sepration {
    background-color: rgb(28, 26, 26);
    height: 8px;

}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    background-color: rgba(23, 23, 23, 0.7);
}

.btn-red {
    background-color: red;
    color: white;
}

.btn-redsm {
    background-color: red;
    padding: 9px 27px;
    color: white;
    font-size: 25px;
}

.main input {
    padding: 13px 84px 18px 32px;
    color: white;
    font-size: 11px;
    background-color: rgba(23, 23, 23, 0.7);
    font-weight: 100;
}

.input {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 7px;
}

.first {
    color: white;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    align-items: center;
    margin: auto;
    padding: 60px;
}

.text1 {
    font-size: 22px;
    padding: 42px;
}

.subtext {
    font-size: 71px;
    font-weight: 900;
}

.secimage {
    position: relative;
}

.secimage img {
    max-width: 30vw;
    position: relative;
    z-index: 10;
}

.secimage video {
    position: absolute;
    width: 392px;
    top: 51px;
    right: 0;
}

.second {
    color: white;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    align-items: center;
    margin: auto;
    padding: 60px;
}

.third {
    color: white;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    align-items: center;
    margin: auto;
    padding: 60px;
}

.secimage3 {
    position: relative;
}

.secimage3 img {
    max-width: 35vw;
    position: relative;
    z-index: 10;
}

.secimage3 video {
    position: absolute;
    width: 348px;
    top: 22px;
    right: 98px;
}
.fourth{
    color: white;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    align-items: center;
    margin: auto;
    padding: 60px;
}